@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #222;
}

section{
    padding-top: 40px;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    overflow: hidden;
}
section ul{
    position: relative;
    display: flex;
    flex-direction: row;




}
.second{
    margin-left: 150px;
}
section ul li {
    list-style: none;


}
section ul li a{
position: relative;
display: block;
text-decoration: none;
text-transform: uppercase;
font-size: 4em;
color: #fff;
font-weight: 700;
transition: 0.5s;
transition-delay: 0.3s;
}
section ul li a:hover{
    color: rgba(255, 255, 255, 0.1);
    transform: translateY(-20px);
    transition-delay: 0s;
}
section ul li a::before{
    content: attr(data-text);
    position: absolute;
    pointer-events: none;
    z-index: 1;
    bottom: -10px;
    font-size: 0.35em;
    color:#3bffe8;
    font-weight: 500;
    letter-spacing: 100px;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 16px #3bffe8,0 0 30px #3bffe8,0 0 80px #3bffe8;
}
section ul li a:hover::before{
    letter-spacing: 6px;
    opacity: 1;
    transition-delay: 0.25s;
}

.pyramid{

    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 550px;

}

.pyramid ul{

    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

.pyramid ul li{
    list-style: none;

    font-size: 50px;




}

.pyramid ul li a{
    position: relative;
    min-width: 200px;
    padding: 5px 105px;

    color:#fff;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1) ;
    border-bottom: 1px solid rgba(255,255,255,0.1) ;
    z-index: 1000;
    overflow: hidden;
    backdrop-filter: blur(15px);
    font-weight: 900;
}

.pyramid ul li a::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-top: 1px solid rgba(255,255,255,0.1) ;
}
.pyramid ul li:first-child a{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.pyramid ul li:nth-last-child(2) a{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
#marker{
    position: absolute;
    right: 0;
    width: 41px;
    height: 41px;
    z-index: 1;
    transition: 0.5s;
}
#marker::before{
    content:"";
    position: absolute;
    top: 30%;

    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%,-50%);
    background: #5da6ff;
    box-shadow: 0 0 75px #5da6ff,0 0 100px #5da6ff,0 0 155px #5da6ff,0 0 200px #5da6ff;
    border-radius: 50%;
    transition: 0.5s;

}
.pyramid ul li:nth-child(2):hover ~ #marker::before{
    background: #f00;
    box-shadow: 0 0 75px #f00,0 0 100px #f00,0 0 155px #f00,0 0 200px #f00;
}
.pyramid ul li:nth-child(3):hover ~ #marker::before{
    background: #ff0;
    box-shadow: 0 0 75px #ff0,0 0 100px #ff0,0 0 155px #ff0,0 0 200px #ff0;
}
.pyramid ul li:nth-child(1):hover ~ #marker::before{
    background: rgb(209, 17, 168);
    box-shadow: 0 0 75px rgb(209, 17, 168),0 0 100px rgb(209, 17, 168),0 0 155px rgb(209, 17, 168),0 0 200px rgb(209, 17, 168);
}
.txt{
    display:flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
}
.txt p{
    color:white;
    max-width: 300px;
    font-size: 25px;
    
    
}
.txt_p{
    margin-left: 150px;
}